@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #ca0025 21.43%,
    #df2459 50.63%,
    #85062c 100%,
    #db0848 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(202, 1, 61, 0.966);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #db0848 21.43%,
    #b4063a 50.63%,
    #8b0c30 100%,
    #ca0025 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #f02360 21.43%,
    #ad0638 50.63%,
    #df2459 100%,
    #ca0025 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#AC1B44] to-[#E44A78] font-bold font-primary hover:from-[#E44A78] hover:to-[#AC1B44];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
